include ../head.pug
body
    .container.mt-5
      h1 List
      table.table.table-responsive.table-hover.table-striped.table-dark
        thead
          tr
            th(scope="col") ID
            th(scope="col") Event
            th(scope="col") Event Date
            th(scope="col") note 
            th(scope="col") Actions
        tbody
script.
      document.addEventListener('DOMContentLoaded', function() {
        axios.get('/api/report')
          .then(function(response) {
            const reports = response.data;
            const tableBody = document.querySelector('table tbody');
            reports.forEach(t => {
              const row = document.createElement('tr');
              const report = t.report
              row.innerHTML = `
                <td>${t.id}</td>
                <td>${report.eventName}</td>
                <td>${report.eventDateTime}</td>
                <td>${report.venue}</td>
                
                <td>
                  <button class="btn btn-primary btn-sm">Edit</button>
                  <button class="btn btn-danger btn-sm">Delete</button>
                </td>
              `;
              tableBody.appendChild(row);
            });
          })
          .catch(function(error) {
            console.log(error);
          });
      });
